<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Master Any Project, Loctite Adhesives, Asian Paints & Molygraph Lubricants</title>

	<meta name="keywords" content="asian paints tile adhesive
	paint adhesion promoter
	adhesion test for paint Anaerobic Adhesives
	Instant Adhesives
	Construction Adhesives
	Bonding Solutions Wood Finishes
	Texture Paints
	Decorative Paints
	Waterproofing Solutions
	Primer Anti-seize Compounds
	Chain Lubricants
	High-Temperature Lubricants Damp Proofing
	Waterproofing Systems
	Masonry Waterproofing" />
	<meta name="description" content="From Loctite adhesives to Asian Paints and Molygraph lubricants, we offer complete solutions. 
	Get expert advice and high-quality goods for everything.">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/website-files/img/home/trade-favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/website-files/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/website-files/css/theme.css">
	<link rel="stylesheet" href="/website-files/css/theme-elements.css">
	<link rel="stylesheet" href="/website-files/css/theme-blog.css">
	<link rel="stylesheet" href="/website-files/css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="/website-files/css/demos/demo-construction-2.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/skin-construction-2.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/website-files/css/custom.css">
	<!-- Google tag (gtag.js) -->
	<%- include('layoutwebsite/all_analatical_script.ejs') %>
<style>
	
.about-section-content p:first-child{
	font-weight: 600;
    line-height: 37px;
    color: #000;
}
.lead {
	font-size:1.0rem
}

</style>
</head>

<body>

	<div class="body">
		<%- include('layoutwebsite/main_manu.ejs') %>

			<div role="main" class="main">
				<section
					class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
					data-plugin-parallax data-plugin-options="{'speed': 1.2}"
					style="background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.3)),url(/website-files/img/AH-Page-Header-Contact-Us.jpg);">
					<!-- data-image-src="/website-files/img/AH-Page-Header-Contact-Us.jpg" -->
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center">
								<ul class="breadcrumb custom-breadcrumb d-block text-center text-white text-4">
									<li><a href="/">Home</a></li>
									<li class="active">About us</li>
								</ul>
							</div>
							<div class="col-md-12 align-self-center p-static text-center mt-2">
								<h1 class="font-weight-bold text-color-secondary text-white text-11">About Us</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container container-xl-custom pt-4 about-section-content">
					<div class="row">
						<div class="col text-center">
							<p class="text-7">
								Cashing on an industrial experience of more than 35 years, we Trade Syndicate have
								successfully outgrown to become one of the leading distributors of Loctite Range Of
								Adhesives, Asian Paints, Molygraph Speciality Lubricants and Waterproofing solutions.

							</p>
							<p class="text-4">
								We follow our vision of offering quality products to our clients. We at Trade Syndicate
								maintain healthy communication within the organization and our clients, also conduct
								regular training sessions for our employees to meet the quality levels even in the
								future.
							</p>
						</div>
					</div>
					
				</div>

			
				
					
					
			<section id="Deepak-Israni">
				<div class="container pt-5 pb-5">
					<div class="col">
						<h3 class="text-secondary font-weight-bold text-capitalize text-9 text-center mb-5">Meet Our Team</h3>
					</div>
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-7 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">Mr. Deepak Israni </h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500" style="animation-delay: 500ms;">Proprietor</p>
							</div>
							<p class="lead appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">An entrepreneur for over three decades, Mr. Deepak Israni is the forefront for Trade Syndicate. Involving all his business ideas and experience into the field and gaining his way to success through his achievements. Being involved in day-to-day business activities taking Trade Syndicate to new levels of achievements.</p>
							
						</div>
						<div class="col-md-4 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms;">
							<img src="/website-files/img/home/team-1.jpg" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</section>
			<section id="Dinesh-Israni">
				<div class="container pb-5 pt-5">
					<div class="row">
						<div class="row d-flex justify-content-center align-items-center">
							<div class="col-md-4 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" style="animation-delay: 100ms;">
								<img src="/website-files/img/home/team-2.jpg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 order-2">
								<div class="overflow-hidden">
									<h2 class="text-color-dark font-weight-bold text-7 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">Mr. Dinesh Israni</h2>
								</div>
								<div class="overflow-hidden mb-3">
									<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500" style="animation-delay: 500ms;">Successor </p>
								</div>
								<p class="lead appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">New age – sought – Team player is Mr. Dinesh Israni the successor for Trade Syndicate. Joined this business in 2018 under the leadership of Mr. Deepak Israni has been going fast towards gaining experience in the industry. Known for his ability to do everything impossible, has made him achieve many successful endeavors.</p>
							
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="Kiran-Chavare">
				<div class="container pt-5 pb-5">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<h2 class="text-color-dark font-weight-bold text-7 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">Mr. Kiran Chavare </h2>
							</div>
							<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500" style="animation-delay: 500ms;">Divisional Head (Adhesives)</p>
							</div>
							<p class="lead appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">Known for his simplest nature, Mr. Kiran Chavare has gained popularity in the industry. With Trade Syndicate since the beginning, he has known and has interacted with each customer individually. His never back down nature has brought him experience like no other.</p>
							
						</div>
						<div class="col-md-4 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms;">
							<img src="/website-files/img/home/team-1.jpg" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</section>
			<section id="Ravindra-Jadhav">
				<div class="container pb-5 pt-5">
					<div class="row">
						<div class="row d-flex justify-content-center align-items-center">
							<div class="col-md-4 order-md-2 mb-4 mb-lg-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" style="animation-delay: 100ms;">
								<img src="/website-files/img/home/team-2.jpg" class="img-fluid" alt="">
							</div>
							<div class="col-md-7 order-2">
								<div class="overflow-hidden">
									<h2 class="text-color-dark font-weight-bold text-7 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">Mr. Ravindra Jadhav </h2>
								</div>
								<div class="overflow-hidden mb-3">
									<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500" style="animation-delay: 500ms;">Divisional Head (Industrial Protective Coatings) </p>
								</div>
								<p class="lead appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">When it comes to industrial Protective Coatings, Mr. Ravindra Jadhav is well known for his immediate solution to the problem. Involved with Trade Syndicate since the beginning he has been taking care of the Protective Coatings division very professionally and is always ahead for any new in business opportunity the market.</p>
							
							</div>
						</div>
					</div>
				</div>
			</section>
			</div>

			<%- include('layoutwebsite/webfooter.ejs') %>
	</div>

	<!-- Vendor -->
	<script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/website-files/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/website-files/js/views/view.contact.js"></script>

	<!-- Demo -->
	<script src="/website-files/js/demos/demo-construction-2.js"></script>

	<!-- Theme Custom -->
	<script src="/website-files/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/website-files/js/theme.init.js"></script>

	<!-- Examples -->
	<script src="/website-files/js/examples/examples.gallery.js"></script>

</body>

</html>