<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Authorized Distributor Adhesive, Paints, Lubricants | Trade Syndicate | Pune</title>

	<meta name="keywords" content="Industrial Adhesives
	Super Glue
	Threadlockers
	Cyanoacrylate
	Epoxy Resin
	Sealants
	Anaerobic Adhesives
	Instant Adhesives
	Construction Adhesives
	Bonding Solutions"/>
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/website-files/img/home/trade-favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/website-files/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/website-files/css/theme.css">
	<link rel="stylesheet" href="/website-files/css/theme-elements.css">
	<link rel="stylesheet" href="/website-files/css/theme-blog.css">
	<link rel="stylesheet" href="/website-files/css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="/website-files/css/demos/demo-construction-2.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/skin-construction-2.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/website-files/css/custom.css">
<!-- Google tag (gtag.js) -->
<%- include('layoutwebsite/all_analatical_script.ejs') %>
</head>

<body>

	<div class="body">
		<%- include('layoutwebsite/main_manu.ejs') %>

			<div role="main" class="main">
				<section
					class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
					data-plugin-parallax data-plugin-options="{'speed': 1.2}"
					data-image-src="img/demos/construction-2/page-header.jpg">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center">
								<ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
									<li><a href="/">Home</a></li>
									<li class="active">Adhesives</li>
								</ul>
							</div>
							<div class="col-md-12 align-self-center p-static text-center mt-2">
								<h1 class="font-weight-bold text-color-secondary text-11">Adhesives</h1>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<img src="/website-files/img/featured-product/Adhesives/Loctite1.jpg"alt=""class="img-fluid">
						</div>
						<div class="col-md-3">
							<img src="/website-files/img/featured-product/Adhesives/Loctite2.jpg"alt=""class="img-fluid">
						</div>
						<div class="col-md-3">
							<img src="/website-files/img/featured-product/Adhesives/Loctite3.jpg"alt=""class="img-fluid">
						</div>
						<div class="col-md-3">
							<img src="/website-files/img/featured-product/Adhesives/Loctite4.jpg"alt=""class="img-fluid">
						</div>
						<div class="col-md-3">
							<img src="/website-files/img/featured-product/Adhesives/Loctite5.avif"alt=""class="img-fluid">
						</div>
					</div>
				</div>
				
			</div>

			<%- include('layoutwebsite/webfooter.ejs') %>
	</div>

	<!-- Vendor -->
	<script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/website-files/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/website-files/js/views/view.contact.js"></script>

	<!-- Demo -->
	<script src="/website-files/js/demos/demo-construction-2.js"></script>

	<!-- Theme Custom -->
	<script src="/website-files/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/website-files/js/theme.init.js"></script>

	<!-- Examples -->
	<script src="/website-files/js/examples/examples.gallery.js"></script>

</body>

</html>