<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Contact Us for Expert Guidance on Loctite Adhesives, Asian Paints, and Molygraph Lubricants</title>	

		<meta name="keywords" content="Water Repellents
		Sealants and Adhesives
		Damp Proofing
		Waterproofing Systems Specialty Lubricants
		Greases
		Oils and Fluids
		Anti-seize Compounds
		Chain Lubricants Enamel Paints
		Wood Finishes
		Texture Paints
		Decorative Paints Sealants
		Anaerobic Adhesives
		Instant Adhesives
		Construction Adhesives
		Bonding Solutions paint adhesion promoter
		adhesion test for paint
		asian paints adhesive
		paint adhesion test procedure pdf
		paint adhesion
		gulf paints and adhesives factory
		asian paint adhesive products" />
		<meta name="description" content="Reach out to us for the best advice and products available in the Loctite adhesive industry.">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/website-files/img/home/trade-favicon.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/website-files/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="/website-files/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/website-files/css/theme.css">
		<link rel="stylesheet" href="/website-files/css/theme-elements.css">
		<link rel="stylesheet" href="/website-files/css/theme-blog.css">
		<link rel="stylesheet" href="/website-files/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="/website-files/css/demos/demo-construction-2.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/skin-construction-2.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/website-files/css/custom.css">
		<%- include('layoutwebsite/all_analatical_script.ejs') %>
	</head>
	<body>

		<div class="body">
			<%- include('layoutwebsite/main_manu.ejs') %>

			<div role="main" class="main">
<section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" style="background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.3)),url(/website-files/img/AH-Page-Header-Contact-Us.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<ul class="breadcrumb custom-breadcrumb text-white d-block text-center text-4">
					<li><a href="/">Home</a></li>
					<li class="active">Contact Us</li>
				</ul>
			</div>
			<div class="col-md-12 align-self-center p-static text-center mt-2">
				<h1 class="font-weight-bold text-color-secondary text-11">Contact Us</h1>
			</div>
		</div>
	</div>
</section>

				<div class="container container-xl-custom pt-5">
					<!-- <div class="row">
						<div class="col">
							<p class="mb-1">GET IN TOUCH</p>
							<h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">Send Us a Message</h3>
						</div>
					</div> -->
					<div class="row pb-4">
						<!-- <div class="col-lg-7 pb-5">

							<p>
								Drop a line for adhesives, lubricants, paints and waterproofing material & we will be in touch soon.							</p>

							<form  id="contact-form ">
								<h3 class="color--white mb-5" id="form-title" ></h3>
								<div class="contact-form-success alert alert-success  mt-4 massge">
									<strong>Success!</strong> Your message has been sent to us.
								</div>

								<div class="row">
									<div class="form-group col">
										<input type="text" placeholder="Your Name" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control bg-color-tertiary" name="name" id="name" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<input type="email" placeholder="E-mail Address" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control bg-color-tertiary" name="email" id="email" required>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col">
										<input type="text" placeholder="Subject" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control bg-color-tertiary" name="subject" id="subject" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<textarea maxlength="5000" placeholder="Message" data-msg-required="Please enter your message." rows="5" class="form-control bg-color-tertiary" name="message" id="message" required></textarea>
									</div>
								</div>
								<div class="g-recaptcha p-2" data-sitekey="6Ld7dSYpAAAAAPZ-_TRhnFWokU9xNWLv34z8uxCI"></div>
								<div class="row">
									<div class="form-group col">
										<input type="submit" id="contact-btn" value="SEND MESSAGE" class="btn btn-outline btn-primary rounded-0 py-3 px-5 font-weight-semibold" data-loading-text="Loading...">
									</div>
								</div>
								
							</form>

						</div> -->
						<div class="col-lg-7">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.659508957211!2d73.80621441437042!3d18.634378470548334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b857cadcb92d%3A0x81b2428a6a716642!2sTrade+Syndicate!5e0!3m2!1sen!2sin!4v1550055342999" width="600" height="500" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>

						</div>
						<div class="col-lg-5">
							<div class="custom-card-style-2 card-contact-us mb-5">
								<div class="m-4">
									<div class="row flex-column px-5 pt-3 pb-4">
										<div class="row px-3 mb-3">
											<h3 class="text-secondary font-weight-bold text-capitalize my-3">Contact Info</h3>
											<!-- <p>Lorem inpsum dolor sit amet, consectetur adipiscing elit. Sed eget risus pora, tincidunt turpis at, intermedum tortor.</p> -->
										</div>
										<div class="row px-lg-3 pb-2 align-items-center">
											<div class="col-2 col-lg-1 px-1 text-center">
												<i class="fas fa-map-marker-alt text-8 text-secondary"></i>
											</div>
											<div class="col-10 col-lg-11">
												<h4 class="text-secondary font-weight-bold text-capitalize mb-0">Address</h4>
												<p class="mb-0"><a href="https://maps.app.goo.gl/b83tJcziWTF1o1K7A"target="_blank"class="text-color-default">Ajmera Complex,Q-A3/3-3 Pimpri,Pune-411018 Maharashtra,India</a></p>
											</div>
										</div>
										<hr class="my-3 opacity-5">
										<div class="row px-lg-3 py-2 align-items-center">
											<div class="col-2 col-lg-1 px-1 text-center">
												<i class="fas fa-mobile-alt text-8 text-secondary"></i>
											</div>
											<div class="col-10 col-lg-11">
												<h4 class="text-secondary font-weight-bold text-capitalize mb-0">Phone Number</h4>
												<p class="mb-0"><a href="tel:+919307299875" class="text-color-default">+91 93072 99875
												</a><br>
													
											</div>
										</div>
										<hr class="my-3 opacity-5">
										<div class="row px-lg-3 py-2 align-items-center">
											<div class="col-2 col-lg-1 px-1 text-center">
												<i class="far fa-envelope text-7 text-secondary"></i>
											</div>
											<div class="col-10 col-lg-11">
												<h4 class="text-secondary font-weight-bold text-capitalize mb-0">E-mail Address</h4>
												<p class="mb-0"><a class="px-0 text-default" href="mailto:info@tradesyndicate.co.in">info@tradesyndicate.co.in</a></p>
											</div>
										</div>
										<!-- <hr class="my-3 opacity-5"> -->
										<!-- <div class="row px-lg-3 pt-2 align-items-center">
											<div class="col-2 col-lg-1 px-1 text-center">
												<i class="far fa-calendar-alt text-7 text-secondary"></i>
											</div>
											<div class="col-10 col-lg-11">
												<h4 class="text-secondary font-weight-bold text-capitalize mb-0">Working days/Hours</h4>
												<p class="mb-1">Mon - Sun / 9:00AM - 8:00PM</p>
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
				<!-- <div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.659508957211!2d73.80621441437042!3d18.634378470548334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b857cadcb92d%3A0x81b2428a6a716642!2sTrade+Syndicate!5e0!3m2!1sen!2sin!4v1550055342999" width="1500" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
				</div> -->

			</div>
			
			<%- include('layoutwebsite/webfooter.ejs') %>

		</div>

		<!-- Vendor -->
		<script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="/website-files/js/theme.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="/website-files/js/views/view.contact.js"></script>

		<!-- Demo -->
		<script src="/website-files/js/demos/demo-construction-2.js"></script>

		<!-- Theme Custom -->
		<script src="/website-files/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="/website-files/js/theme.init.js"></script>
		<script src="/website-files/js/custom/contact-us.js"></script>

	

		<!-- Examples -->
		<script src="js/examples/examples.gallery.js"></script>
		<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
        </script>

	</body>

</html>