<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us | Porto - Multipurpose Website Template</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

<!-- Favicon -->
<link rel="shortcut icon" href="https://marspoles-website.s3.ap-south-1.amazonaws.com/vendor/blog_icons/20-12-2023/9d27be07-eeda-469f-9ddf-715432deaae6.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="https://marspoles-website.s3.ap-south-1.amazonaws.com/vendor/blog_icons/20-12-2023/9d27be07-eeda-469f-9ddf-715432deaae6.png">
<link rel="canonical" href="https://marspoles-website.s3.ap-south-1.amazonaws.com/vendor/blog_icons/20-12-2023/9d27be07-eeda-469f-9ddf-715432deaae6.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
	<link rel="canonical" href="https://elevatorplus.app/website-files/img/ElevatorPulCanonical.png">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/website-filesvendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <script>(function(){window.ldbrry = window.ldbrry || {};(function(dom, s, ss, root){root = dom.getElementsByTagName(s)[0];function cltr(src){var image = dom.createElement(s);image.src = src;setTimeout(function(){root.parentNode.insertBefore(image,root)}, 1);}cltr(ss);})(document, 'script', 'https://app.leadberry.com/trackers/lb-25605-25605-3398.js');})();</script>
</head>

<body data-plugin-page-transition>
    <% include layoutwebsite/webheader %>
        <div class="body">

            <div role="main" class="main">



                <div class="container">

                    <div class="row py-4">
                        <div class="col-lg-6">

                            <div class="appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="800">
                                <h4 class="mt-2 mb-1">Our <strong>Office</strong></h4>
                                <ul class="list list-icons list-icons-style-2 mt-2">
                                    <li><i class="fas fa-map-marker-alt top-6"></i> <strong
                                            class="text-dark">Address:</strong> 1234 Street Name, City Name, United
                                        States</li>
                                    <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong>
                                        (123) 456-789</li>
                                    <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong>
                                        <a href="mailto:mail@example.com">mail@example.com</a></li>
                                </ul>
                            </div>

                            <div class="appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="950">
                                <h4 class="pt-5">Business <strong>Hours</strong></h4>
                                <ul class="list list-icons list-dark mt-2">
                                    <li><i class="far fa-clock top-6"></i> Monday - Friday - 9am to 5pm</li>
                                    <li><i class="far fa-clock top-6"></i> Saturday - 9am to 2pm</li>
                                    <li><i class="far fa-clock top-6"></i> Sunday - Closed</li>
                                </ul>
                            </div>

                            <h4 class="pt-5">Get in <strong>Touch</strong></h4>
                            <p class="lead mb-0 text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis
                                vitae at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        </div>
                        <div class="col-lg-6">

                            <h2 class="font-weight-bold text-8 mt-2 mb-0">Contact Us</h2>
                            <p class="mb-4">Feel free to ask for details, don't save any questions!</p>

                            <form class="contact-form" action="php/contact-form.php" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>

                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Full Name</label>
                                        <input type="text" value="" data-msg-required="Please enter your name."
                                            maxlength="100" class="form-control text-3 h-auto py-2" name="name"
                                            required>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Email Address</label>
                                        <input type="email" value=""
                                            data-msg-required="Please enter your email address."
                                            data-msg-email="Please enter a valid email address." maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label mb-1 text-2">Subject</label>
                                        <input type="text" value="" data-msg-required="Please enter the subject."
                                            maxlength="100" class="form-control text-3 h-auto py-2" name="subject"
                                            required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label mb-1 text-2">Message</label>
                                        <textarea maxlength="5000" data-msg-required="Please enter your message."
                                            rows="8" class="form-control text-3 h-auto py-2" name="message"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <input type="submit" value="Send Message" class="btn btn-primary btn-modern"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>

                </div>
                <section class=" mt-0 mb-3 ">
                    <div class="container">
                        <div class="row text-center pb-5">
                            <div class="col-md-9 mx-md-auto">
                                <div class="overflow-hidden mb-3">
                                    <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation"
                                        data-appear-animation="maskUp">
                                        <span>Clients & Accolades</span>
                                        <span class="word-rotator-words bg-primary">
                                            <b class="is-visible">Create</b>
                                            <b>Build</b>
                                            <b>Develop</b>
                                        </span>
                                        <span> Solutions</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="owl-carousel owl-theme"
                                data-plugin-options="{'center': true, 'loop': true, 'nav': false, 'dots': true, 'margin': 10}">
                                <div>
                                    <img alt="" class="img-fluid rounded" src="/website-files/img/projects/project-5.jpg">
                                </div>
                                <div>
                                    <img alt="" class="img-fluid rounded" src="/website-files/img/projects/project-6.jpg">
                                </div>
                                <div>
                                    <img alt="" class="img-fluid rounded" src="/website-files/img/projects/project-7.jpg">
                                </div>
                                <div>
                                    <img alt="" class="img-fluid rounded" src="/website-files/img/projects/project-1.jpg">
                                </div>
                                <div>
                                    <img alt="" class="img-fluid rounded" src="/website-files/img/projects/project-2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <% include layoutwebsite/calltoaction %>

            </div>

        </div>
        <% include layoutwebsite/webfooter %>


            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>

</body>

</html>