<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Discover premium bonding, coating, lubrication, and waterproofing solutions Discover </title>

	<meta name="keywords" content="Waterproofing Membranes
	Waterproofing Coatings
	Concrete Waterproofing Oils and Fluids
	Anti-seize Compounds
	Chain Lubricants
	High-Temperature Lubricants Exterior Paints
	Emulsion Paints
	Enamel Paints
	Wood Finishes
	Texture Paints 
	Epoxy Resin
Sealants
Anaerobic Adhesives
Instant Adhesives 
Cyanoacrylate
Epoxy Resin
Sealants
Anaerobic Adhesives
Instant Adhesives asian paints adhesive
paint adhesion test procedure pdf
paint adhesion
gulf paints and adhesives factory" />
	<meta name="description" content="Enjoy Loctite's adhesive bonding, Asian Paints' vibrant coatings, Molygraph's niche lubricants,
	and effective waterproofing. ">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/website-files/img/home/trade-favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/website-files/img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/website-files/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/website-files/css/theme.css">
	<link rel="stylesheet" href="/website-files/css/theme-elements.css">
	<link rel="stylesheet" href="/website-files/css/theme-blog.css">
	<link rel="stylesheet" href="/website-files/css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="/website-files/css/demos/demo-construction-2.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/skin-construction-2.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/website-files/css/custom.css">
	<link rel="stylesheet" href="/website-files/css/custom/index.css">

<!-- Google tag (gtag.js) -->
<%- include('layoutwebsite/all_analatical_script.ejs') %>
</head>

<body>

	<div class="body">
		<%- include('layoutwebsite/main_manu.ejs') %>

			<div role="main" class="main">

				<%- include('layoutwebsite/topslider.ejs') %>

					<section>
						<div class="container pt-5 pb-5">
							<div class="col">
								<!-- <p class="mb-1 text-uppercase">Feature Works</p> -->
								<h3 class="text-secondary font-weight-bold text-capitalize text-center text-7 mb-2">Founder & President
								</h3>
							</div>
							<div class="row">
								<div class="sort-destination-loader mt-4 pt-2 sort-destination-loader-loaded">
									<div class="row portfolio-list sort-destination" data-sort-id="portfolio" data-filter="*" style="position: relative; height: 296px;">
										<div class="col-12 col-sm-6 col-lg-3 isotope-item websites" style="position: absolute; left: 0px; top: 0px;">
											<div class="portfolio-item">
												<a href="/about-us#Deepak-Israni" aria-label="">
													<span class="thumb-info thumb-info-lighten border-radius-0">
														<span class="thumb-info-wrapper border-radius-0">
															<img src="/website-files/img/home/team-1.jpg" class="img-fluid border-radius-0" alt="">
															<span class="thumb-info-title">
																<span class="thumb-info-inner">Mr. Deepak Israni</span>
																<span class="thumb-info-type">Proprietor </span>
															</span>
															
														</span>
													</span>
												</a>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item medias" style="position: absolute; left: 285px; top: 0px;">
											<div class="portfolio-item">
												<a href="/about-us#Dinesh-Israni" aria-label="">
													<span class="thumb-info thumb-info-lighten border-radius-0">
														<span class="thumb-info-wrapper border-radius-0">
															<img src="/website-files/img/home/team-1.jpg" class="img-fluid border-radius-0" alt="">
															<span class="thumb-info-title">
																<span class="thumb-info-inner">Mr. Dinesh Israni</span>
																<span class="thumb-info-type">Successor </span>
															</span>
															
														</span>
													</span>
												</a>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item logos" style="position: absolute; left: 570px; top: 0px;">
											<div class="portfolio-item">
												<a href="/about-us#Kiran-Chavare" aria-label="">
													<span class="thumb-info thumb-info-lighten border-radius-0">
														<span class="thumb-info-wrapper border-radius-0">
															<img src="/website-files/img/home/team-1.jpg" class="img-fluid border-radius-0" alt="">
															<span class="thumb-info-title">
																<span class="thumb-info-inner"> Mr. Kiran Chavare</span>
																<span class="thumb-info-type">Divisional Head (Adhesives)</span>
															</span>
															
														</span>
													</span>
												</a>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-lg-3 isotope-item brands" style="position: absolute; left: 855px; top: 0px;">
											<div class="portfolio-item">
												<a href="/about-us#Ravindra-Jadhav" aria-label="">
													<span class="thumb-info thumb-info-lighten border-radius-0">
														<span class="thumb-info-wrapper border-radius-0">
															<img src="/website-files/img/home/team-1.jpg" class="img-fluid border-radius-0" alt="">
															<span class="thumb-info-title">
																<span class="thumb-info-inner">Mr. Ravindra Jadhav</span>
																<span class="thumb-info-type">Divisional Head (IPC)</span>
															</span>
															<!-- <span class="thumb-info-action">
																<span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
															</span> -->
														</span>
													</span>
												</a>
											</div>
										</div>
									</div>
								<div class="bounce-loader"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
							</div>
						</div>
					</section>
					<section class="adbanao_video_section">
						<div class="container">
						  <div class="row adbanao_video">
							<div class="col-12">
							  <h3 class="font-weight-bold text-capitalize text-7 mb-2 text-dark pt-4 pb-4">Industry Insights: Consulting Solutions Unveiled</h3>
							  <br>
							  <iframe class="videoIframe" src="https://www.youtube.com/embed/l-epKcOA7RQ?si=aWMIUIXddT3i3seO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						  </div>
						</div>
						<div class="adbanao_video_bg">
						  <img src="/website-files/img/sub-industry-scroll-bg.png" alt="sub industries">
						</div>
					  </section>
					  
					<section class="pt-5 pb-5 ">
						<div class="container">
							<div class="row text-center">
								<div class="col-md-9 mx-md-auto">
									<div class="overflow-hidden mb-3">
										<h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation"
											data-appear-animation="maskUp">
											<span>Trusted by industry leaders </span>
										 
										</h1>
									</div>
								</div>
							</div>
						</div>
					
						<div class="container">
							<div class="row py-5">
								<div class="col">
					
									<div class="owl-carousel owl-theme mb-0" data-plugin-options="{'responsive': {'0': {'items': 3}, '476': {'items': 2}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false,'margin': 50}">
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/ACCOLADE.png" alt="airezo">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/ADOR.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/AMPHENOL.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/ATLAS COPCO.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/CIE GOLDE.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/CNH.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/DANA.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/DANFOSS.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/EATON.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/FORBES MARSHALL.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/FORCE MOTORS.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/FRANKLIN.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/HARMAN INTERNATIONAL.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/INFINITE.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/JCB.png" alt="">
										</div>
										
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/MERCEDES.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/MINDA.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/RENISHAW.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SANDVIK.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SANY.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SCHINDLER.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SEW.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SHANDONG.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/STANLEY.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/SUZLON.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/TACO EV.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/TACO PRESOLITE.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/TATA.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/THE WESTIN.png" alt="">
										</div>
										<!-- <div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/TATA.png" alt="">
										</div> -->
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/THYSSENKRUPP.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/TOPBAND.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/VITESCO.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/WEBTEC.png" alt="">
										</div>
										<div>
											<img class="img-fluid opacity-10" src="/website-files/img/Tradesyndicate-client/WIKAI.png" alt="">
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</section>
					<section class=" section-height-3 bg-light border-0 pt-5  pb-5"style="background-color: #f1f0f0 !important;">
						<div class="container container-xl-custom appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
							<div class="row">
								<div class="col">
									<!-- <p class="mb-1">WHAT THEY SAY</p> -->
									<h3 class="text-secondary font-weight-bold text-capitalize text-7 text-center mb-2">Customers
										Reviews</h3>
								</div>
							</div>
							<div class="row">
								<div class="owl-carousel owl-theme custom-dots mt-3 mb-0 "
									data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 2}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 18, 'loop': true, 'nav': true, 'dots': true}">
									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">John Smith</strong><span
														class="text-1">ARCHITECT</span></p>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">Donald Smith</strong><span
														class="text-1">ENGINEER</span></p>
											</div>
										</div>
									</div>

									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">John Smith</strong><span
														class="text-1">ARCHITECT</span></p>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">Donald Smith</strong><span
														class="text-1">ENGINEER</span></p>
											</div>
										</div>
									</div>

									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">John Smith</strong><span
														class="text-1">ARCHITECT</span></p>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
											<blockquote class="px-3 ms-4">
												<p class="mb-0 font-weight-normal">Lorem ipsum dolor sit amet,
													consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis
													at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
													amet, consectetur adipiscing elit. Sociis natoque penatibus et
													magnis dis parturient montes</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author pb-3 mt-1 ms-5">
												<div class="testimonial-author-thumbnail">
													<img src="/website-files/img/home/team-1.jpg"
														class="img-fluid rounded-circle" alt="">
												</div>
												<p><strong class="font-weight-extra-bold">Donald Smith</strong><span
														class="text-1">ENGINEER</span></p>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div> -->

							</div>
						</div>
					</section>
					<section>
					<div class="container-fluid pt-5 pb-5">
						<div class="col">
							<!-- <p class="mb-1">WHAT THEY SAY</p> -->
							<h3 class="text-secondary font-weight-bold text-capitalize text-7 text-center mb-5">Featured Products
							</h3>
						</div>
						<div class=" grid-container">

							<div class="item">
								
								<span class="thumb-info border-all thumb-info-show-button-hover">
									<span class="thumb-info-wrapper">
										<a href="/accesories">
										<img src="/website-files/img/accesorries/blog-11.jpg" class="img-fluid" alt=""></a>
										<span class="thumb-info-title bg-transparent">
											<span class="thumb-info-inner pb-3"> Accesories</span>
											<a class="btn btn-light btn-sm text-dark" href="/accesories">Read More</a>
										</span>
									</span>
								</span>
							
							</div>

							<div class="item">
								
								<span class="thumb-info border-all thumb-info-show-button-hover">
									<span class="thumb-info-wrapper">
										<img src="/website-files/img/accesorries/blog-11.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title bg-transparent">
											<a href="/adhesives"class="text-white"><span class="thumb-info-inner pb-3 text-white">Adhesives</span></a>
											<a class="btn btn-light btn-sm text-dark" href="/adhesives">Read More</a>
										</span>
									</span>
								</span>
							</a>
							</div>
							<div class="item">
								
								<span class="thumb-info border-all thumb-info-show-button-hover">
									<span class="thumb-info-wrapper">
										<img src="/website-files/img/accesorries/blog-11.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title bg-transparent">
											<a href="/insulation-or-waterproofing" class="text-white"><span class="thumb-info-inner pb-3">Insulation or Waterproofing</span></a>
											<a class="btn btn-light btn-sm text-dark" href="/insulation-or-waterproofing">Read More</a>
										</span>
									</span>
								</span>
							</a>
							</div>
							<div class="item">
								
								<span class="thumb-info border-all thumb-info-show-button-hover">
									<span class="thumb-info-wrapper">
										<img src="/website-files/img/accesorries/blog-11.jpg" class="img-fluid" alt=""></a>
										<span class="thumb-info-title bg-transparent">
											<a href="/industrial-paints" class="text-white"><span class="thumb-info-inner pb-3">Industrial Paints</span></a>
											<a class="btn btn-light btn-sm text-dark" href="/industrial-paints">Read More</a>
										</span>
									</span>
								</span>
							</a>
							</div>
							<div class="item">
								
								<span class="thumb-info border-all thumb-info-show-button-hover">
									<span class="thumb-info-wrapper">
										<img src="/website-files/img/accesorries/blog-11.jpg" class="img-fluid" alt="">
										<span class="thumb-info-title bg-transparent">
											<a href="/speciality-lubricants"class="text-white"><span class="thumb-info-inner pb-3">Speciality Lubricants</span></a>
											<a class="btn btn-light btn-sm text-dark" href="/speciality-lubricants">Read More</a>
										</span>
									</span>
								</span>
							</a>
							</div>
						</div>
					</div>
					</section>
					<section id="feature-section">
						<div class="container-fluid pt-5 pb-5"id="featured-list">
							<div class="row featured-boxes-full">
								<div class="col-lg-3 featured-box-full bg-primary">
									<div class="feature-bg">
										<div id="what-do-we-do"style="width: 100px; height: 100px;"></div>
									<div class="features-content">
										<h4>WHAT DO WE DO?
										</h4>
										<p class="font-weight-light">We provide you with the best quality of adhesives, lubricants, paints and waterproofing solutions.</p>
									</div>
									</div>
								</div>
								<div class="col-lg-3 featured-box-full bg-primary-100">
									<div class="feature-bg">
									<div id="our-vision"style="width: 100px; height: 100px;"></div>
									<div class="features-content">
									<h4>OUR  VISION
									</h4>
									<p class="font-weight-light">To constantly strive to provide valued clients with higher quality products.</p>
									</div>
									</div>
								</div>
								<div class="col-lg-3 featured-box-full bg-primary-200">
									<div class="feature-bg">
									<div id="our-mission"style="width: 100px; height: 100px;"></div>
									<div class="features-content">
									<h4>OUR  MISSION
									</h4>
									<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. </p>
									</div>
									</div>
								</div>
								<div class="col-lg-3 featured-box-full bg-primary-300">
									<div class="feature-bg">
									<div id="history"style="width: 100px; height: 100px;"></div>
									<div class="features-content">
									<h4>HISTORY OF BEGINNING
									</h4>
									<p class="font-weight-light">Founded in the year 1993 by Mr. Deepak Israni, since then, we have successfully grown to become a leading distributor of lubricants, adhesives, paints.</p>
									</div>
									</div>
								</div>
							</div>
						</div>
					</section>
			

					
					
					</section>
			</div>

			<%- include('layoutwebsite/webfooter.ejs') %>
	</div>

	<!-- Vendor -->
	<script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/website-files/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/website-files/js/views/view.contact.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Demo -->
	<script src="/website-files/js/demos/demo-construction-2.js"></script>

	<!-- Theme Custom -->
	<script src="/website-files/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/website-files/js/theme.init.js"></script>

	<!-- Examples -->
	<script src="/website-files/js/examples/examples.gallery.js"></script>
	<script src="/website-files/js/custom/index.js"></script>


</body>

</html>