<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Website Privacy policy | Tradesyndicate</title>	

    <meta name="keywords" content="Water Repellents
    Sealants and Adhesives
    Damp Proofing
    Waterproofing Systems Specialty Lubricants
    Greases
    Oils and Fluids
    Anti-seize Compounds
    Chain Lubricants Enamel Paints
    Wood Finishes
    Texture Paints
    Decorative Paints Sealants
    Anaerobic Adhesives
    Instant Adhesives
    Construction Adhesives
    Bonding Solutions paint adhesion promoter
    adhesion test for paint
    asian paints adhesive
    paint adhesion test procedure pdf
    paint adhesion
    gulf paints and adhesives factory
    asian paint adhesive products" />
    <meta name="description" content="Our privacy policy applies to all visitors, users, and others who use the services we provide via our websites.">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/img/home/trade-favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-files/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-files/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-files/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-files/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-files/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-files/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-files/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-files/css/theme.css">
    <link rel="stylesheet" href="/website-files/css/theme-elements.css">
    <link rel="stylesheet" href="/website-files/css/theme-blog.css">
    <link rel="stylesheet" href="/website-files/css/theme-shop.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/website-files/css/demos/demo-construction-2.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-files/css/skins/skin-construction-2.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-files/css/custom.css">
    <%- include('layoutwebsite/all_analatical_script.ejs') %>
</head>

<body>

    <div class="body">
        <%- include('layoutwebsite/main_manu.ejs') %>

            <div role="main" class="main">
                <section
                    class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
                    data-plugin-parallax data-plugin-options="{'speed': 1.2}"
                    style="background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.3)),url(/website-files/img/AH-Page-Header-Contact-Us.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 align-self-center">
                                <ul class="breadcrumb custom-breadcrumb text-white d-block text-center text-4">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Privacy Policy</li>
                                </ul>
                            </div>
                            <div class="col-md-12 align-self-center p-static text-center mt-2">
                                <h1 class="font-weight-bold text-color-secondary text-11">Privacy Policy</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="row">

                        <div id="contents" role="main" class="main-page  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-3 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div class="entry-summary">

                                        <p>DISCLAIMER OF WARRANTIES – The content is provided without warranties of any
                                            kind, either expressed or implied, including, but not limited, implied
                                            warranties, fitness for a particular purpose, or non-infringement. Trade
                                            Syndicate CORPORATION do not warrant that the content is accurate, reliable
                                            or correct; that this <g
                                                class="gr_ gr_13 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling multiReplace"
                                                id="13" data-gr-id="13">catalogue</g> will be available at any
                                            particular time or location; that any defects or errors will be corrected.
                                            Your use of this <g
                                                class="gr_ gr_14 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling multiReplace"
                                                id="14" data-gr-id="14">catalogue</g> is solely at your risk. The
                                            information contained in this website is intended for information only. No
                                            liability will be accepted for problems arising from information contained
                                            in this <g
                                                class="gr_ gr_11 gr-alert gr_spell gr_inline_cards gr_run_anim ContextualSpelling ins-del"
                                                id="11" data-gr-id="11">web-site</g> &amp; / or other printed data
                                            offered by us. </p>



                                        <p>LIMITATION OF LIABILITY – Under no circumstances shall Trade Syndicate
                                            CORPORATION be liable for any direct, indirect, punitive, incidental,
                                            special, or consequential damages that result from the use of, or inability
                                            to use products appearing on this <g
                                                class="gr_ gr_11 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling multiReplace"
                                                id="11" data-gr-id="11">catalogue</g>. </p>



                                        <p>Trade Syndicate CORPORATION assumes no liability for any of the following:
                                            <br>
                                            Improper Storage.<br>
                                            Improper Maintenance.<br>
                                            Indirect or Inconsequential loss or damage.<br>
                                            Improper removal or replacement.<br>
                                            Any loss or damage brought about by the usage of the products in any matter
                                            other than their intended and designed purpose.<br>
                                            In-Transit damage/ loss/ pilferage/ theft.<br>
                                            Should there be an incidence of product breakage or performance failure
                                            despite proper storage Trade Syndicate CORPORATION will only replace these
                                            products. </p>



                                        <p>The warranty is limited only to the making good or replacing product at our
                                            discretion at the point of supply. </p>



                                        <p>INTERNATIONAL USE – Our Principals make no representation that materials on
                                            this web-site are appropriate or available for use in locations outside
                                            India, and accessing those territories where their contents are illegal is
                                            prohibited. Those who choose to use this web-site from other locations do
                                            so, on their own initiative and are responsible for compliance with local
                                            laws. Trade Syndicate CORPORATION has taken due care and caution in
                                            compilation of data for its web-site. Information has been obtained by Trade
                                            Syndicate CORPORATION from sources which it considers reliable. However,
                                            Trade Syndicate CORPORATION does not guarantee the accuracy, adequacy, or
                                            completeness of any information and is not responsible for any errors or
                                            omissions or for the results obtained from the use of such information.
                                            Trade Syndicate CORPORATION is also not responsible for any errors in
                                            transmission and especially states that it has no financial liability
                                            whatsoever to the subscriber / users / transmitters of its web-site. </p>



                                        <p><strong>Disclaimer</strong> : <br> – Trade Syndicate CORPORATION disclaims
                                            liability for any Incidental or Consequential damages <br> – Trade Syndicate
                                            CORPORATION sole warranty is that the product will meet Trade Syndicate
                                            CORPORATION sales specifications in effect at the time of supplies <br>
                                            –Your exclusive remedy for breach of such warranty is limited to refund of
                                            purchase price or replacement of any product shown to be other than as
                                            warranted. <br> – Trade Syndicate CORPORATION range of products are designed
                                            and engineered for ‘world class’ performance under the most stringent
                                            operating conditions. </p>



                                        <p><strong>Trademark Disclaimer </strong></p>



                                        <p>Product names, logos, brands, and other trademarks featured or referred to
                                            within the multiband.in the website are the property of their respective
                                            trademark holders, and are used only to directly describe the products being
                                            provided. </p>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="clearfix"></div>


                            </div>
                        </div>
                    </div>
                </div>
                <%- include('layoutwebsite/webfooter.ejs') %>

            </div>

            <!-- Vendor -->
            <script src="/website-files/vendor/plugins/js/plugins.min.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="/website-files/js/theme.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

            <!-- Current Page Vendor and Views -->
            <script src="/website-files/js/views/view.contact.js"></script>

            <!-- Demo -->
            <script src="/website-files/js/demos/demo-construction-2.js"></script>

            <!-- Theme Custom -->
            <script src="/website-files/js/custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="/website-files/js/theme.init.js"></script>
            <script src="/website-files/js/custom/contact-us.js"></script>



            <!-- Examples -->
            <script src="js/examples/examples.gallery.js"></script>


</body>

</html>