<style>
    .owl-carousel.nav-font-size-md .owl-nav button.owl-prev:before, .owl-carousel.nav-font-size-md .owl-nav button.owl-next:before{
        opacity:1
    }
    </style>

<div id="slider" class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-diamond custom-nav-with-transparency nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 5000, 'items': 1, 'loop': true, 'autoplay': true, 'autoplayHoverPause': true, 'nav': true, 'dots': true, 'animateOut': 'fadeOut'}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
    <div class="owl-stage-outer">
        <div class="owl-stage">

            <!-- Carousel Slide 1 -->
            <div class="owl-item position-relative" style="background-image: url(/website-files/img/home-slider/moly-3.jpg); background-size: cover; background-position: center; height: 650px;">

               
            </div>

            <!-- Carousel Slide 2 -->
            <div class="owl-item position-relative" style="background-image: url(/website-files/img/home-slider/Molygraph-3.jpg); background-size: cover; background-position: center; height: 650px;">

            </div>

            <!-- Carousel Slide 2 -->
            <div class="owl-item position-relative" style="background-image: url(/website-files/img/home-slider/Trade-Banner-3.jpg); background-size: cover; background-position: center; height: 650px;">

            </div>
            

        </div>
    </div>
    <div class="owl-nav owl-custom-btn">
        <button type="button"
            class="owl-prev" style="background-color: #e26a42b3 !important;">
        </button>
        <button type="button" 
            class="owl-next"  style="background-color: #e26a42b3 !important;">
        </button>
    </div>
    <div class="owl-dots mb-5">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot "><span></span></button>
        
    </div>
</div>

