<style>
    .social-icons.social-icons-dark li a:hover i{
       color: #fff
   }
   .social-icons.social-icons-dark li a i{
       color: #fff ;
       font-size: 18px;
      
   }
   .social-icons-instagram a,.social-icons-facebook a,.social-icons-linkedin a,.social-icons-youtube a{
    margin-top:10px
   }
   .social-icons li:hover.social-icons-twitter a{

   }
   #footer{
    background-image: url('/website-files/img/Trade-Syndicate-below-banner-1.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Adjusts the size of the background image to cover the entire element */
  background-position: center;  
   }
   #footer .footer-copyright.footer-copyright-style-2{
    background: unset;
   }
   #footer .footer-copyright{
    background: unset;
   }
</style>
<!-- <section class="bg-color-primary">
				<div class="container container-xl-custom text-center align-items-center justify-content-center py-4">
					<div class="d-inline-flex align-items-center mx-auto flex-wrap flex-lg-nowrap justify-content-center">
						<h2 class="text-light font-weight-bold my-0 px-4 mb-3 mb-lg-0">Join more than 100K people who trust Porto</h2>
						<a href="/contact-us" class="btn btn-outline btn-light rounded-0 text-hover-dark custom-btn-white text-3 font-weight-bold mt-4 mb-2 my-md-0 px-5 ms-2 py-3">GET A QUOTE</a>
					</div>
				</div>
			</section> -->
<footer id="footer" class="bg-color-secondary border-top-0 mt-0 custom-footer">
    <div class="container container-xl-custom py-md-4">
        <div class="row justify-content-md-center py-5">
            <div class="col-md-12 col-lg-4 mb-2 mb-lg-0">
                <a href="/"><img src="/website-files/img/logo-trades.png" alt="Logo" class="img-fluid logo"></a>
                <P class="text-3 mt-3 text-white">Cashing on an industrial experience of more than 35 years, we Trade Syndicate have successfully outgrown to become one of the leading distributors of Loctite Range Of Adhesives, Asian Paints, Molygraph Speciality Lubricants and Waterproofing solutions.</P>
            </div>
            <div class="col-md-3  text-md-start">
                <p class="text-5 text-color-light font-weight-bold  mt-3 mt-lg-0">Get in Touch</p>
                <p class="text-4 mb-0 font-weight-bold text-color-light  ">Address</p>
                <p class="text-3 mb-2 text-color-light"><a href="https://maps.app.goo.gl/oDPJhGmxa6Neni76A"target="_blank"class="text-white">Trade Syndicate,   Ajmera Complex, Q-A3/3-3
                    Pimpri,  Pune-411018,  Maharashtra,  India</a></p>
                <p class="text-4 mb-0 font-weight-bold text-color-light  ">Phone Number</p>
                <p class="text-3 mb-2 text-color-light"><a href="tel:9307299875" class="text-color-light">+91 9307299875</a></p>
                <p class="text-4 mb-0 font-weight-bold text-color-light  ">Email</p>
                <p class="text-3 mb-2 "><a href="mailto:info@tradesyndicate.net" class="text-color-light">info@tradesyndicate.net</a></p>
                
               
            </div>
            <div class="col-md-2  text-md-start mt-3 mt-md-0 mb-lg-0">
                <p class="text-5 text-color-light font-weight-bold mb-3 mt-4 mt-lg-0">Useful links</p>
                <div class="">
                    <div class="">
                        <p class="mb-0"><a href="/" class="text-4  link-hover-style-1 text-white">Home</a></p>
                        <p class="mb-0"><a href="/about-us" class="text-4  link-hover-style-1 text-white">About Us</a></p>
                        <p class="mb-0"><a href="/blogs" class="text-4  link-hover-style-1 text-white">Blogs </a></p>
                        <p class="mb-0"><a href="/career" class="text-4  link-hover-style-1 text-white">Career </a></p>
                        <p class="mb-0"><a href="/contact-us" class="text-4  link-hover-style-1 text-white">Contact Us</a></p>
                        <p class="mb-0"><a href="/privacy-policy" class="text-4  link-hover-style-1 text-white">Privacy Policy</a></p>
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-md-2  text-md-start mt-3 mt-md-0  mb-lg-0">
                <p class="text-5 text-color-light font-weight-bold mb-3 mt-4 mt-lg-0">Social Media</p>

                <ul class="social-icons social-icons-dark social-icons-clean">
                    <li class="social-icons-instagram">
                        <a href="https://www.instagram.com/trade_syndicate/?utm_source=ig_profile_share&igshid=t6qdirnb8z0a" target="_blank" title="Instagram">
                            <i class="fab fa-instagram font-weight-semibold"></i>
                        </a>
                    </li>
                    <li class="social-icons-facebook">
                        <a href="https://www.facebook.com/tradesyndicate/" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f font-weight-semibold"></i>
                        </a>
                    </li>
                    <li class="social-icons-linkedin">
                        <a href="https://www.linkedin.com/company/trade-syndicate/" target="_blank" title="linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social-icons-youtube">
                        <a href="https://www.youtube.com/channel/UC7CHVqa1ppGazucEe8aFogQ" target="_blank" title="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="https://www.justdial.com/Pune/Trade-Syndicate-Near-S-S-Ajmera-High-School-Pimpri/020PXX20-XX20-101226122701-B3Q6_BZDET?xid=UHVuZSBUcmFkZSBTeW5kaWNhdGU=" target="_blank" title="justdial">
                            <img src="/website-files/img/social-media/jd-logo-white1.png"alt=""width="20">
                        </a>
                    </li>
                   
                </ul>
            </div>
          
        </div>
    </div>
    <div class="container container-xl-custom">
        <div class="footer-copyright footer-copyright-style-2 ">
            <div class="py-2">
                <div class="row py-1">
                    <div class="col d-lg-flex text-center align-items-md-center justify-content-lg-between justify-content-sm-center mb-4 mb-lg-0">
                        <p class="text-2 text-color-light opacity-7">
                            Copyright  ©  2023 </p>
                            <p class=" text-2 opacity-7 text-color-light">Designed &  Developed by<a href="https://www.accucia.com/"class="text-warning"> Accucia Softwares Pvt Ltd</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid bg-light">
        <div class="container container-xl-custom py-5">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-lg-between px-3">
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-1.png" alt="Brand" class="img-fluid">
                </span>
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-2.png" alt="Brand" class="img-fluid">
                </span>
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-3.png" alt="Brand" class="img-fluid">
                </span>
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-4.png" alt="Brand" class="img-fluid">
                </span>
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-5.png" alt="Brand" class="img-fluid">
                </span>
                <span class="p-3">
                    <img src="/website-files/img/demos/construction-2/brands/brand-6.png" alt="Brand" class="img-fluid">
                </span>
            </div>
        </div>
    </div> -->
</footer>
<script>
    

</script>